{% extends "main.html" %}

{% block head_content %}
<title>Registrar Pasajero</title>
{% endblock %}

{% block container %}

<div class="row">
    <div class="col s12">
        <h4>Registrar Pasajero</h4>
    </div>
</div>

<div class="row">
    <form method="post" class="col s12 pasajero-form">
        {% csrf_token %}

        {% if form.errors %}
        <p>{{ form.errors }}</p>
        {% endif %}

        <div class="row">
            <div class="input-field col s8">
                <input id="rut" name="rut" type="text" class="validate">
                <label for="rut">Rut</label>
                <span class="red-text">{% for error in form.rut.errors %}{{ error }}{% endfor %}</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s8">
                <input id="nombre" name="nombre" type="text" class="validate">
                <label for="nombre">Nombre</label>
                <span class="red-text">{% for error in form.nombre.errors %}{{ error }}{% endfor %}</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s8">
                <input id="apellido" name="apellido" type="text" class="validate">
                <label for="apellido">Apellido</label>
                <span class="red-text">{% for error in form.apellido.errors %}{{ error }}{% endfor %}</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s8">
                <input id="telefono" name="telefono" type="text" class="validate">
                <label for="telefono">Telefono</label>
                <span class="red-text">{% for error in form.telefono.errors %}{{ error }}{% endfor %}</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <select name="trayecto" id="trayecto">
                    <option value="" disabled selected>Selecione una opcion</option>
                    {% for trayecto in trayectos %}
                    <option value="{{ trayecto.pk }}">{{ trayecto.descripcion }}</option>
                    {% endfor %}
                </select>
                <label for="trayecto">Trayecto</label>
                <span class="red-text msg-error"></span>
            </div>
        </div>

        <div class="row horarios_buses" style="display:none;">
            <div class="input-field col s12">
                <select name="trayecto_bus" id="trayecto_bus">

                </select>
                <label for="trayecto">Horarios Disponibles</label>
                <span class="red-text msg-error-asientos"></span>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <span class="red-text msg-error-horarios"></span>
            </div>
        </div>

        <div class="row asientos" style="display:none;">
            <input id="num_asiento" name="num_asiento" type="hidden">
            <label for="trayecto">Asientos Disponibles</label>
            <div class="area-asientos"></div>
        </div>
        <button type="submit" class="btn btn-primary submit mt-5" value="Save">Guardar</button>
        <a href="/pasajeros" class="btn btn-primary  mt-2">Cancelar</a>
    </form>
</div>
{% endblock %}