{% extends "main.html" %}

{% block head_content %}
    <title>Pasajeros</title>
{% endblock%}

{% block container %}


        <div class="row">

            <div class="col s12">
                <h3>Listado Pasajeros</h3>
            </div>

            <div class="col s12">
                <a href='{% url "pasajeros:crear" %}' class="btn btn-primary  mt-2" >Registrar Pasajero</a>
            </div>
        </div>

        <div class="divider"></div>
        <div class="row">
            <table class="table table-bordered" id="tb-pasajeros">
                <thead>
                    <tr>
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Teléfono</th>
                        <th>Trayecto</th>
                        <th>Bus</th>
                        <th>Horario</th>
                        <th>Acciones</th>
                    </tr>
                    
                </thead>
                <tbody>
                    {% if pasajeros %}
                    {% for pasajero in pasajeros %}
                    <tr>
                        <td>{{ pasajero.rut }}</td>
                        <td>{{ pasajero.nombre }}</td>
                        <td>{{ pasajero.apellido }}</td>
                        <td>{{ pasajero.telefono }}</td>
                        <td>{{ pasajero.trayecto_bus.trayecto.descripcion }}</td>
                        <td>{{ pasajero.trayecto_bus.bus.descripcion }}</td>
                        <td>{{ pasajero.trayecto_bus.hora_salida  }}</td>
                        
                        <td>
                            <a class="btn btn-primary" href='{% url "pasajeros:editar" pasajero.pk %}'>Editar</a>
                            <a class="btn btn-danger btn-confirm" href='{% url "pasajeros:eliminar" pasajero.pk %}'>Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                    
                    {% else %}
                    <tr>
                        <td colspan="6">
                            <h4>No hay registros de pasajeros</h4>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>           
        </div>

{% endblock %}