{% extends "main.html" %}

{% block head_content %}
<title>Registrar Pasajero</title>
{% endblock %}

{% block container %}

<div class="row">
    <div class="col s12">
        <h4>Registrar Pasajero</h4>
    </div>
</div>

<div class="row">
    <form method="post" class="col s12 pasajero-form">
        {% csrf_token %}

        {% if form.errors %}
            <p>{{ form.errors }}</p>
        {% endif %} 

        <div class="row">
            <div class="input-field col s8">
                {{form.rut}}                
                <label for="rut">Rut</label>
                <span class="red-text">{% for error in form.rut.errors %}{{ error }}{% endfor %}</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s8">
                {{form.nombre}}
                <label for="nombre">Nombre</label>
                <span class="red-text">{% for error in form.nombre.errors %}{{ error }}{% endfor %}</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s8">
                {{form.apellido}}
                <label for="apellido">Apellido</label>
                <span class="red-text">{% for error in form.apellido.errors %}{{ error }}{% endfor %}</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s8">
                {{form.telefono}}
                <label for="telefono">Telefono</label>
                <span class="red-text">{% for error in form.telefono.errors %}{{ error }}{% endfor %}</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <select name="trayecto" id="trayecto">
                    <option value="" disabled selected>Selecione una opcion</option>
                    {% for trayecto in trayectos %}
                    <option value="{{ trayecto.pk }}" {% if object.trayecto_bus.trayecto.pk == trayecto.pk %} selected  {% endif %}>{{ trayecto.descripcion }}</option>
                    {% endfor %}
                </select>
                <label for="trayecto">Trayecto</label>
                <span class="red-text msg-error"></span>
            </div>
        </div>

        <div class="row horarios_buses" style="display:block;">
            <div class="input-field col s12">
                <select name="trayecto_bus" id="trayecto_bus">
                        {% for horario in horarios %}
                        <option value="{{ horario.pk }}" {% if object.trayecto_bus.pk == horario.pk %} selected  {% endif %}>{{ horario.hora_salida }} - {{ horario.hora_llegada }}</option>
                        {% endfor %}
                </select>
                <label for="trayecto">Horarios Disponibles</label>
                <span class="red-text msg-error-asientos"></span>
            </div>
        </div>

        <div class="row">
                <div class="col s12">
                    <span class="red-text msg-error-horarios"></span>
                </div>
            </div>

        <div class="row asientos" style="display:block;">
                <input id="num_asiento" name="num_asiento" type="hidden" value="{{ object.num_asiento }}">
                <label for="trayecto">Asientos Disponibles</label>
                <div class="area-asientos">                        
                    {% for number in listAsientos %}
                    <div class='col s1'>
                        <button class='asientos btn' data-id='{{ number }}' {% for aux  in asientos %} {% if aux.num_asiento == number %} disabled  {% endif %}{% endfor %}>
                            <i class='small material-icons dp48 '>airline_seat_recline_extra</i>
                            <span>N° {{ number }} </span></button></div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">Numero de asiento actual: {{ object.num_asiento }}</div>

        <button type="submit" class="btn btn-primary submit mt-5" value="Save">Guardar</button>
        <a href="/pasajeros" class="btn btn-primary  mt-2">Cancelar</a>
    </form>
</div>
{% endblock %}