{% extends "main.html" %}

{% block head_content %}
<title>Choferes</title>
{% endblock %}

{% block container %}

    <div class="row">
        <div class="col s12">
            <h4>Perfil {{ object.nombre }}</h4>
        </div>
    </div>

    <div class="row">

        <table>
            <tr>
                <td>
                    Rut
                </td>
                <td>
                    {{ object.rut }}
                </td>
            </tr>

            <tr>
                <td>
                    Nombre
                </td>
                <td>
                    {{ object.nombre }}
                </td>
            </tr>

            <tr>
                <td>
                    Apellido
                </td>
                <td>
                    {{ object.apellido }}
                </td>
            </tr>

            <tr>
                <td>
                    Telephono
                </td>
                <td>
                    {{ object.telefono }}
                </td>
            </tr>
        </table>

        <a href="/choferes" class="btn btn-primary  mt-2">Regresar</a>
        </form>
    </div>
{% endblock %}