{% extends "main.html" %}

{% block head_content %}
<title>Crear Trayecto</title>
{% endblock %}

{% block container %}

    <div class="row">
        <div class="col s12">
            <h4>Registrar Trayecto </h4>
        </div>
    </div>

    <div class="row">
        <form method="post" class="col s12">
            {% csrf_token %}

            <div class="row">
                <div class="input-field col s8">
                    <input id="ruta_salida" name="ruta_salida" type="text" class="validate">
                    <label for="ruta_salida">Ruta Salida</label>
                    <span class="red-text">{% for error in form.rut.errors %}{{ error }}{% endfor %}</span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s8">
                    <input id="ruta_llegada" name="ruta_llegada" type="text" class="validate">
                    <label for="ruta_llegada">Ruta Llegada</label>
                    <span class="red-text">{% for error in form.ruta_llegada.errors %}{{ error }}{% endfor %}</span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s8">
                    <input id="descripcion" name="descripcion" type="text" class="validate">
                    <label for="descripcion">Descripcion</label>
                    <span class="red-text">{% for error in form.descripcion.errors %}{{ error }}{% endfor %}</span>
                </div>
            </div>

            <div class="divider"></div>


            <button type="submit" class="btn btn-primary  mt-5" value="Save">Guardar</button>
            <a href="/trayectos" class="btn btn-primary  mt-2" >Cancelar</a>
        </form>
    </div>
{% endblock %}