{% extends "main.html" %}

{% block head_content %}
<title>Trayecto</title>
{% endblock %}

{% block container %}

    <div class="row">
        <div class="col s12">
            <h4>Asignar Horarios</h4>
        </div>
    </div>

    <div class="row">

            {% if error_msg %}
            <span class="red-text">{{ error_msg }}</span>
            {% endif %}

        <form method="post" class="col s12">
            {% csrf_token %}

            <div class="row">
            

                <div class="input-field col s2">
                    <input id="descripcion" name="descripcion" type="text" class="validate">
                    <label for="descripcion">Descripcion</label>
                    <span class="red-text">{% for error in form.descripcion.errors %}{{ error }}{% endfor %}</span>
                </div>

                <div class="input-field col s2">
                    <input id="hora_llegada" name="hora_llegada" type="text" class="timepicker">
                    <label for="hora_llegada">Hora Salida</label>
                    <span class="red-text">{% for error in form.hora_llegada.errors %}{{ error }}{% endfor %}</span>
                </div>

                <div class="input-field col s2">
                    <input id="hora_salida" name="hora_salida" type="text" class="timepicker">
                    <label for="hora_salida">Hora Llegada</label>
                    <span class="red-text">{% for error in form.hora_salida.errors %}{{ error }}{% endfor %}</span>
                </div>

                <div class="input-field bus col s2">
                    <select name="bus" id="bus">
                        {% for bus in buses %}
                        <option value="{{ bus.pk }}">{{ bus.descripcion }}</option>
                        {% endfor %}
                    </select>
                    <label for="bus">Bus</label>
                    <span class="red-text">{% for error in form.bus.errors %}{{ error }}{% endfor %}</span>
                </div>

                <input id="trayecto" name="trayecto" type="hidden" value="{{ trayecto.pk }}">

                <div class="add col s2">
                    <button type="submit" class="btn btn-primary  mt-5" value="Save">Agregar</button>
                </div>
            </div>
            <div class="divider"></div>

            <h5>Horarios Asignados</h5>

            <table class="table table-bordered" id="tb-horarios">
                    <thead>
                        <tr>
                            <th>Hora Salida</th>
                            <th>Hora LLegada</th>
                            <th>Descripcion</th>
                            <th>Bus</th>
                            <th>Acciones</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        {% if horariosAsigandos %}
                        {% for horarioAsignado in horariosAsigandos %}
                            <tr>
                                <td>{{ horarioAsignado.hora_salida }}</td>
                                <td>{{ horarioAsignado.hora_llegada }}</td>
                                <td>{{ horarioAsignado.descripcion }}</td>
                                <td>{{ horarioAsignado.bus.descripcion }}</td>
                                
                                <td>
                                    <a class="btn btn-primary " href='{% url "trayectos:borrar_horario" trayecto.pk horarioAsignado.pk %}'>Borrar</a>
                                </td>
                            </tr>
                        {% endfor %}
                        
                        {% else %}
                            <tr>
                                <td colspan="6">
                                    <h4>No hay registros de horarios asignados</h4>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>    

            <a href="/trayectos" class="btn btn-primary  mt-2">Cancelar</a>
        </form>
    </div>
{% endblock %}