{% extends "main.html" %}

{% block head_content %}
    <title>Destacame</title>
{% endblock%}

{% block container %}


        <div class="row">

            <div class="col s12">
                <h3>Listado Trayectos</h3>
            </div>

            <div class="col s12">
                <a href='{% url "trayectos:crear" %}' class="btn btn-primary  mt-2" >Registrar Trayecto</a>
            </div>
        </div>

        <div class="divider"></div>
        <div class="row">
            <table class="table table-bordered" id="tb-trayectos">
                <thead>
                    <tr>
                        <th>Ruta Salida</th>
                        <th>Ruta LLegada</th>
                        <th>Descripción</th>
                        <th>Promedio Pasajeros</th>
                        <th>Editado</th>
                        <th>Acciones</th>
                    </tr>
                    
                </thead>
                <tbody>
                    {% if object_list %}
                    {% for trayecto in trayectos %}
                    <tr>
                        <td>{{ trayecto.ruta_salida }}</td>
                        <td>{{ trayecto.ruta_llegada }}</td>
                        <td>{{ trayecto.descripcion }}</td>
                        <td>{{ trayecto.prom }} </td>
                        <td>{{ trayecto.modified }}</td>
                        
                        <td>
                            <a class="btn btn-primary" href='{% url "trayectos:editar" trayecto.pk %}'>Editar</a>
                            <a class="btn btn-primary " href='{% url "trayectos:asignar" trayecto.pk %}'>Horarios</a>
                            <a class="btn btn-danger btn-confirm" href='{% url "trayectos:eliminar" trayecto.pk %}'>Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                    
                    {% else %}
                    <tr>
                        <td colspan="6">
                            <h4>No hay registros de trayectos</h4>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>           
        </div>

{% endblock %}