{% extends "main.html" %}

{% block head_content %}
<title>Editar Trayectoria</title>
{% endblock %}

{% block container %}

    <div class="row">
        <div class="col s12">
            <h4>Editar  Trayectoria</h4>
        </div>
    </div>

    <div class="row">
        <form method="post" class="col s12">
            {% csrf_token %}

            <div class="row">
                <!--<h1>{{ object.rut }}</h1>-->
                <div class="input-field col s8">                    
                    {{form.ruta_salida}}
                    <label for="ruta_salida">Ruta Salida</label>
                    <span class="red-text">{% for error in form.ruta_salida.errors %}{{ error }}{% endfor %}</span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s8">
                    {{form.ruta_llegada}}
                    <label for="ruta_llegada">Ruta Llegada</label>
                    <span class="red-text">{% for error in form.ruta_llegada.errors %}{{ error }}{% endfor %}</span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s8">
                    {{form.descripcion}}
                    <label for="descripcion">Descripcion</label>
                    <span class="red-text">{% for error in form.descripcion.errors %}{{ error }}{% endfor %}</span>
                </div>
            </div>


            <button type="submit" class="btn btn-primary  mt-5" value="Save">Guardar</button>
            <a href="/trayectos" class="btn btn-primary  mt-2" >Cancelar</a>
        </form>
    </div>
{% endblock %}