{% extends "main.html" %}

{% block head_content %}
<title>Trayecto</title>
{% endblock %}

{% block container %}

    <div class="row">
        <div class="col s12">
            <h4>Trayecto {{ object.descripcion }}</h4>
        </div>
    </div>

    <div class="row">

        <table>
            <tr>
                <td>
                    Ruta Salida
                </td>
                <td>
                    {{ object.ruta_salida }}
                </td>
            </tr>

            <tr>
                <td>
                    Ruta Llegada
                </td>
                <td>
                    {{ object.ruta_llegada }}
                </td>
            </tr>

            <tr>
                <td>
                    Descripcion
                </td>
                <td>
                    {{ object.descripcion }}
                </td>
            </tr>

        </table>

        <a href="/trayectos" class="btn btn-primary  mt-2">Regresar</a>
        </form>
    </div>
{% endblock %}