<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head_content %}{% endblock %}


    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" crossorigin="anonymous" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'plugins/materialize/css/materialize.min.css' %}"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>

    <script type="text/javascript" src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

 <!--Let browser know website is optimized for mobile-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

    <nav>
        <div class="nav-wrapper  deep-purple darken-3">
          <a href="#" class="brand-logo">Destacame Viajes</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href='{% url "choferes:list" %}'>Choferes</a></li>
            <li><a href='{% url "buses:list" %}'>Buses</a></li>
            <li class=""><a href='{% url "trayectos:list" %}'>Trayectos</a></li>
            <li><a href='{% url "pasajeros:list" %}'>Pasajeros</a></li>
          </ul>
        </div>
      </nav>

    <div class="container mt-8 ">
        {% block container %}
        {% endblock%}
    </div>
    
    {% include "modals.html" %}

    <script type="text/javascript" src="{% static 'plugins/materialize/js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/global.js' %}"></script>    
    <script type="text/javascript" src="{% static 'js/pasajeros.js' %}"></script>    
    <script type="text/javascript" src="{% static 'js/modalsEvents.js' %}"></script>    
  
</body>
</html>