<!-- Modal Form -->
<div id="modal-form" class="modal">
    <div class="modal-content">
            <h4 class="modal-msg-title">Write your Title</h4>
            <p class="modal-msg-body">Write your body</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="form-modal-submit waves-effect waves-red btn-flat">Guardar</a>
        <a href="#!" class="form-modal-cancel waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>

<!-- Modal Confirm Delete -->
<div id="modal-confirm" class="modal">
        <div class="modal-content">
                <h4 class="modal-msg-title">Eliminar Registro</h4>
                <p class="modal-msg-body">¿ Esta seguro que desea eliminar el registro?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-confirm-submit waves-effect waves-red btn-flat">Eliminar</a>
            <a href="#!" class="form-modal-cancel waves-effect waves-green btn-flat">Cancelar</a>
        </div>
</div>

<!-- Modal Message -->
<div id="modal-msg" class="modal">
    <div class="modal-content">
        <h4 class="modal-msg-title">Write your Title</h4>
        <p class="modal-msg-body">Write your body</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>