{% extends "main.html" %}

{% block head_content %}
<title>Crear Trayectoria</title>
{% endblock %}

{% block container %}

    <div class="row">
        <div class="col s12">
            <h4>Registrar Bus</h4>
        </div>
    </div>

    <div class="row">
        <form method="post" class="col s12">
            {% csrf_token %}

            <div class="row">
                <div class="input-field col s8">
                    <input id="descripcion" name="descripcion" type="text" class="validate">
                    <label for="descripcion">Descripcion</label>
                    <span class="red-text">{% for error in form.descripcion.errors %}{{ error }}{% endfor %}</span>
                </div>
            </div>

            <div class="row">
                    <div class="input-field col s12">
                            <select name="chofer" id="chofer">
                            {% for chofer in chofer %}
                              <option value="{{ chofer.pk }}">{{ chofer.nombre }}</option>
                            {% endfor %}  
                            </select>
                            <label for="chofer">Conductor Asignado</label>
                            <span class="red-text">{% for error in form.chofer_id.errors %}{{ error }}{% endfor %}</span>
                          </div>
            </div>

            <button type="submit" class="btn btn-primary  mt-5" value="Save">Guardar</button>
            <a href="/buses" class="btn btn-primary  mt-2" >Cancelar</a>
        </form>
    </div>
{% endblock %}