{% extends "main.html" %}

{% block head_content %}
<title>Buses</title>
{% endblock%}

{% block container %}

    <div class="row">

        <div class="col s12">
            <h3>Listado Buses Con Pasajes Vendidos</h3>
        </div>

        <div class="col s12">
            <a href='{% url "buses:crear" %}' class="btn btn-primary  mt-2">Registrar Bus</a>
            <a href='{% url "buses:list" %}' class="btn btn-primary  mt-2">Todos los Buses</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Descripcion</td>
                    <td>Chofer</td>
                    <td>Editado</td>
                    <td>Acciones</td>
                </tr>

            </thead>
            <tbody>
                {% if buses %}
                {% for bus in buses %}
                {% if bus.vendido %}
                <tr>
                    <td>{{ bus.descripcion }}</td>
                    <td>{{ bus.chofer.nombre }}</td>
                    <td>{{ bus.modified }}</td>
                    <td>
                            <a class="btn btn-primary " href='{% url "buses:detalle" bus.pk %}'>Ver</a>
                            <a class="btn btn-primary" href='{% url "buses:editar" bus.pk %}'>Editar</a>
                            <a class="btn btn-danger btn-confirm" href='{% url "buses:eliminar" bus.pk %}'>Eliminar</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}

                {% else %}
                <tr>
                    <td colspan="6">
                        <h4>No hay registros de solicitudes</h4>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}