{% extends "main.html" %}

{% block head_content %}
<title>Choferes</title>
{% endblock %}

{% block container %}

    <div class="row">
        <div class="col s12">
            <h4>Perfil Bus {{ object.descripcion }}</h4>
        </div>
    </div>

    <div class="row">

        <table>
            <tr>
                <td>
                    Descripcion
                </td>
                <td>
                    {{ object.descripcion }}
                </td>
            </tr>

            <tr>
                <td>
                    Conductor
                </td>
                <td>
                    {{ object.chofer.nombre }}
                </td>
            </tr>

            <tr>
                <td>
                    Modificado
                </td>
                <td>
                    {{ object.modified }}
                </td>
            </tr>

            <tr>
                <td>
                    Creado
                </td>
                <td>
                    {{ object.created }}
                </td>
            </tr>
        </table>

        <a href="/buses" class="btn btn-primary  mt-2">Regresar</a>
        </form>
    </div>
{% endblock %}