{% extends "main.html" %}

{% block head_content %}
<title>Crear Trayectoria</title>
{% endblock %}

{% block container %}

    <div class="row">
        <div class="col s12">
            <h4>Registrar Chofer</h4>
        </div>
    </div>

    <div class="row">
        <form method="post" class="col s12">
            {% csrf_token %}

            <div class="row">
                <div class="input-field col s8">
                    <input id="rut" name="rut" type="text" class="validate">
                    <label for="rut">Rut</label>
                    <span class="red-text">{% for error in form.rut.errors %}{{ error }}{% endfor %}</span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s8">
                    <input id="nombre" name="nombre" type="text" class="validate">
                    <label for="nombre">Nombre</label>
                    <span class="red-text">{% for error in form.nombre.errors %}{{ error }}{% endfor %}</span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s8">
                    <input id="apellido" name="apellido" type="text" class="validate">
                    <label for="apellido">Apellido</label>
                    <span class="red-text">{% for error in form.apellido.errors %}{{ error }}{% endfor %}</span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s8">
                    <input id="telefono" name="telefono" type="text" class="validate">
                    <label for="telefono">Telefono</label>
                    <span class="red-text">{% for error in form.telefono.errors %}{{ error }}{% endfor %}</span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary  mt-5" value="Save">Guardar</button>
            <a href="/choferes" class="btn btn-primary  mt-2" >Cancelar</a>
        </form>
    </div>
{% endblock %}