{% extends "main.html" %}

{% block head_content %}
    <title>Destacame</title>
{% endblock%}

{% block container %}


        <div class="row">

            <div class="col s12">
                <h3>Listado Conductores</h3>
            </div>

            <div class="col s12">
                <a href='{% url "choferes:crear" %}' class="btn btn-primary  mt-2" >Registrar Conductor</a>
            </div>
        </div>

        <div class="divider"></div>
        <div class="row">
            <table class="table table-bordered" id="tb-choferes">
                <thead>
                    <tr>
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Teléfono</th>
                        <th>Editado</th>
                        <th>Acciones</th>
                    </tr>
                    
                </thead>
                <tbody>
                    {% if object_list %}
                    {% for choferes in object_list %}
                    <tr>
                        <td>{{ choferes.rut }}</td>
                        <td>{{ choferes.nombre }}</td>
                        <td>{{ choferes.apellido }}</td>
                        <td>{{ choferes.telefono }}</td>
                        <td>{{ choferes.modified }}</td>
                        
                        <td>
                            <a class="btn btn-primary " href='{% url "choferes:detalle" choferes.pk %}'>Ver</a>
                            <a class="btn btn-primary" href='{% url "choferes:editar" choferes.pk %}'>Editar</a>
                            <a class="btn btn-danger btn-confirm" href='{% url "choferes:eliminar" choferes.pk %}'>Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                    
                    {% else %}
                    <tr>
                        <td colspan="6">
                            <h4>No hay registros de conductores</h4>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>           
        </div>

{% endblock %}